.space{
    margin-top: 20px;
}

.bg-info-client {
    border-color: #187da0 ;
    background-color: #63c2de ;
    color: white;
}

.bg-info-clerk {
    border-color: #187da0 ;
    background-color: #2eadd3 ;
    color: white;
}




.mat-icon {
    font-size: 50px;
  }