<div class="containter-fluid">



    <div class="row">

        <div class="col-md-6 space">
            <mat-card class="bg-info-client">
                <mat-card-header>
            
                    <mat-card-title>Proveedores</mat-card-title>
                    <mat-card-subtitle>Information</mat-card-subtitle>
                  </mat-card-header>
            
                  <mat-card-content>
                    <button type="button" mat-icon-button >
                        <mat-icon aria-hidden="false"  aria-label="icon empleado person" >airport_shuttle</mat-icon>
                    </button>
                  </mat-card-content>
            </mat-card>
        </div>

        <div class="col-md-6 space">
            <mat-card class="bg-info-clerk">
                <mat-card-header>
            
                    <mat-card-title>Clientes</mat-card-title>
                    <mat-card-subtitle>Information</mat-card-subtitle>
                  </mat-card-header>
            
                  <mat-card-content>
                    <button type="button" mat-icon-button   >
                        <mat-icon aria-hidden="false"  aria-label="icon empleado people " >people</mat-icon>
                    </button>
                  </mat-card-content>
            </mat-card>
        </div>

        <div class="col-md-6 space">
            <mat-card class="bg-info-purchase">
                <mat-card-header>
            
                    <mat-card-title>Compras</mat-card-title>
                    <mat-card-subtitle>Information</mat-card-subtitle>
                  </mat-card-header>
            
                  <mat-card-content>
                    <button type="button" mat-icon-button >
                        <mat-icon aria-hidden="false"  aria-label="icon empleado account_balance_wallet " >account_balance_wallet</mat-icon>
                    </button>
                    
                  </mat-card-content>
            </mat-card>
        </div>

        <div class="col-md-6 space">
            <mat-card class="bg-info-sale">
                <mat-card-header>
            
                    <mat-card-title>Ventas</mat-card-title>
                    <mat-card-subtitle>Information</mat-card-subtitle>
                  </mat-card-header>
            
                  <mat-card-content>
                    <button type="button" mat-icon-button >
                        <mat-icon aria-hidden="false"  aria-label="icon empleado receipt " >receipt</mat-icon>
                    </button>
                  </mat-card-content>
            </mat-card>
        </div>




    </div>
    
</div>
