<div [ngClass]="theme" [ngSwitch]="router.url">

  <!-- <mat-sidenav-container [className]="(router.url === '/login') ? ' sidenav-container login-fondo' : ' sidenav-container'" > -->
  <!-- <mat-sidenav-container *ngSwitchCase="'/login'" class="sidenav-container login-fondo" > -->
  <mat-sidenav-container class="{{fondo}}">

    <mat-sidenav #sidenav class="sidenav" [mode]="mode.value">

      <mat-toolbar color="primary">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()">
          <mat-icon aria-label="Side nav toggle icon" svgIcon="menu">menu</mat-icon>
        </button> MENU
      </mat-toolbar>


      <div *ngIf="config.shutdown">

        <!-- <div [hidden]="config.infoUser.image != null"
                    class="row justify-content-center align-items-center avatar" layout-align="center center">
                     <ngx-avatar name="{{user$.first_name + ' ' + user$.last_name}}" size="100"></ngx-avatar>
                </div>

                <div class="row justify-content-center align-items-center avatar" layout-align="center center">
                    <p [hidden]="config.infoUser.image == null"> <img src="{{config.infoUser.image}}"
                            class="avatar mx-auto d-block" width='200px' height='200px' alt="image"> </p>
                </div>

              -->

        <div class="row styleAvatar">

          <div class="col-md-6 col-md-12">


            <p [hidden]="user$.image == null">
              <img src="{{user$.image}}" class="imgAvatar mx-auto d-block" width='100px' height='100px' alt="image">
            </p>



          </div>

          <div class="col-md-6 col-md-12">
            <div class=" text-center">
              <h4><strong>{{user$.first_name + ' ' + user$.last_name}}</strong></h4>
            </div>
          </div>





        </div>

        <!-- <p [hidden]="info.image == null"> <img src="{{info.image}}" class="avatar mx-auto d-block" alt="image"> </p> -->



      </div>

      <mat-divider></mat-divider>

      <mat-nav-list>

        <a mat-subheader mat-list-item *ngFor="let item of menu$.menu" routerLink="{{item.link}}"
          routerLinkActive="active-link" (click)="sidenav.toggle()">
          <mat-icon aria-hidden="false" aria-label="icon menu">{{item.icon}}</mat-icon>

          <p class="menu-lateral">
            {{item.menu }}
          </p>

          <mat-divider></mat-divider>
        </a>

      </mat-nav-list>
      <mat-divider></mat-divider>
    </mat-sidenav>

    <mat-sidenav-content>

      <mat-toolbar color="primary" class="mat-elevation-z5" *ngIf="config.shutdown">

        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()">
          <mat-icon aria-label="Side nav toggle icon" svgIcon="menu">menu</mat-icon>
        </button>

        <!-- <img src="./assets/images/business/Ecopetrol_logo.svg_.png" height="50" width="150"> -->
        <span> {{ ' ' + translate.locale.HOME.slogan  }}</span>


        <span class="example-spacer"></span>

        <div class="text-toolbar" >
          <h4> {{user$.first_name + ' ' + user$.last_name}}</h4>
        </div>


        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon svgIcon="translate"></mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="ChangeTranslate('en')">English</button>
          <button mat-menu-item (click)="ChangeTranslate('es')">Spanish</button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="colors">
          <mat-icon svgIcon="palette"></mat-icon>
        </button>


        <mat-menu #colors="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="dark">Dark</button>
          <button mat-menu-item [matMenuTriggerFor]="light">Light</button>
        </mat-menu>

        <mat-menu #dark="matMenu">
          <button type="button" mat-mini-fab color="green" (click)="changeTheme('green-dark-theme')"></button>
          <button type="button" mat-mini-fab color="blue" (click)="changeTheme('blue-dark-theme')"></button>
          <button type="button" mat-mini-fab color="red" (click)="changeTheme('red-dark-theme')"></button>
          <button type="button" mat-mini-fab color="yellow" (click)="changeTheme('yellow-dark-theme')"></button>
        </mat-menu>

        <mat-menu #light="matMenu">
          <button type="button" mat-mini-fab color="green" (click)="changeTheme('green-light-theme')"></button>
          <button type="button" mat-mini-fab color="blue" (click)="changeTheme('blue-light-theme')"></button>
          <button type="button" mat-mini-fab color="red" (click)="changeTheme('red-light-theme')"></button>
          <button type="button" mat-mini-fab color="yellow" (click)="changeTheme('yellow-light-theme')"></button>
        </mat-menu>


        <!-- Icon by itself -->
        <button mat-icon-button>
          <mat-icon svgIcon="power" *ngIf="config.shutdown" (click)="closeSession()"></mat-icon>
        </button>
      </mat-toolbar>


      <div class="container-fluid">
        <router-outlet> </router-outlet>
      </div>


    </mat-sidenav-content>

  </mat-sidenav-container>


</div>
