<div [className]="paramSubscription ? '' : 'hidden'">
  <mat-card>

    <mat-card-title>Cliente </mat-card-title>

    <hr>

    <table id="TableDbCustomer" class="table table-striped table-sm" width="100%">
      <thead>
        <tr>
          <td class="customerAction" *ngIf="validEdit == '1' || validDelete == '1'" > </td>
          <td>ID</td>
          <td>NAME</td>
          <td>EMAIL</td>
          <td>TELEFONO</td>
          <td>IDENTIFICACION</td>


        </tr>
      </thead>

    </table>

  </mat-card>

</div>

<div>
  <router-outlet> </router-outlet>
</div>
