<form class="example-form" #f="ngForm" class="formi-container" [formGroup]="form"  (submit)="save()" >

    <mat-card>
        <mat-card-title>Nuevo Registro</mat-card-title>

        <hr>

        <div class="row">



            <div class="col-md-6 col-sm-12">
                <mat-form-field class="full-width">
                    <mat-label>Nombre Producto</mat-label>
                    <input matInput placeholder="Digitar Texto"   formControlName="nombre"  required>
                </mat-form-field>

            </div>


            <div class="col-md-6 col-sm-12">
                <mat-form-field class="full-width">
                    <mat-label>Identificacion</mat-label>
                    <input matInput placeholder="Digitar Texto"    formControlName="identificacion"  required>
                </mat-form-field>

            </div>

          </div>

          <div class="row">

            <div class="col-md-6 col-sm-12">
                <mat-form-field class="full-width ">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Serial"   formControlName="email" required >
                </mat-form-field>

            </div>



            <div class="col-md-6 col-sm-12">
                <mat-form-field class="full-width">
                    <mat-label>Telefono</mat-label>
                    <input matInput placeholder="Ex. San Francisco" formControlName="telefono" required >
                </mat-form-field>

            </div>



        </div>


        <mat-card-actions>

          <div class="row">

            <div class="col-md-6 col-sm-12">
              <button mat-button mat-raised-button color="accent" class="full-width" (click)="Redirect()" >
                {{translate.locale.BUTTON.cancel }} </button>
            </div>

            <div class="col-md-6 col-sm-12">
              <button mat-button mat-raised-button color="primary" class="full-width"
              type="submit">{{ translate.locale.BUTTON.send  }}</button>
            </div>

          </div>




        </mat-card-actions>


    </mat-card>


</form>
